version: "3"
services:
 web:
  image: quay.io/jonathanearle/node-todo:latest
  deploy:
   replicas: 5
   resources:
    limits:
     cpus: "0.1"
     memory: 1g
   restart_policy:
    condition: on-failure
  ports:
   - "8080:8080"

 mongo:
  image: mongo
  volumes:
   - mongodb:/data/db

volumes:
 mongodb:
