version: "3"
services:
 web:
  image: node-todo-master:latest
  deploy:
   replicas: 5
   resources:
    limits:
     cpus: "0.2"
     memory: 2g
   restart_policy:
    condition: on-failure
  ports:
   - "8080:8080"
  networks:
   -webnet

 mongo:
  image: mongo
  volumes:
   - mongodb:/data/db
  ports:
   - "27017:27017"

volumes:
 mongodb:

networks:
 webnet:
